@model Garage3._0.Web.Models.ViewModels.ParkingSpotViewModel

@using Garage3._0.Web.Services
@inject IParkingSpotService service

<select class="form-control" asp-for="Id" asp-items="@await service.GetParkingSpots(Model is null? null: Model.Id)">
    @if (Model is null)
    {
        <option selected="selected" value="">Choose a spot</option>
    }
</select>

